* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a:active,
a:link,
a:focus,
a:visited,
a:hover,
button:active,
button:link,
button:focus,
button:visited,
button:hover,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  outline: 0 !important; }

.row {
  margin-right: 0px; }

header .box_logo .img_logo {
  max-width: 175px;
  margin: 0px 30px; }

header .box_logo .banner_top {
  max-width: 350px; }

header .card_mjs {
  margin-top: 15px;
  min-width: 270px;
  margin-right: 15px;
  border-color: #0c6a93;
  border-bottom-color: transparent; }
  header .card_mjs .card-header {
    background-color: #0c6a93;
    padding: 3px 10px; }
    header .card_mjs .card-header a {
      list-style: none; }
      header .card_mjs .card-header a i {
        color: white; }
  header .card_mjs .card-body {
    padding: 5px; }
    header .card_mjs .card-body .box h5 {
      font-size: 12px;
      line-height: 20px;
      font-weight: normal;
      margin: 0px 5px 0px 0px; }
    header .card_mjs .card-body .box p {
      font-size: 12px;
      font-weight: normal;
      margin: 0px; }
    header .card_mjs .card-body .box .dark {
      font-weight: bold; }
    header .card_mjs .card-body .box_ganar {
      position: absolute;
      right: 5px;
      bottom: 4px; }
      header .card_mjs .card-body .box_ganar a {
        font-size: 12px;
        text-decoration: none;
        color: #f47523;
        font-weight: bold; }

header .navbar {
  background-color: #0c6a93;
  border-bottom: 4px solid #f47523;
  padding: 0px;
  max-height: 50px; }
  header .navbar .collapse {
    padding: 0px 0px 0px 40px; }
    header .navbar .collapse .navbar-nav .nav-item .nav-link {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px; }
    header .navbar .collapse .btn_checkin {
      background-color: #f47523;
      min-height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      padding: 0px 15px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      color: white;
      font-size: 20px; }

header #menu_ppal {
  display: none;
  position: absolute;
  top: 12px;
  left: 50px; }
  header #menu_ppal i {
    color: white;
    font-size: 25px; }

header .menu_lateral {
  background-color: #1b8fbf;
  height: 100vh;
  min-height: 580px;
  margin: 0;
  padding-left: right;
  position: absolute;
  left: -325px;
  top: 0;
  width: 240px;
  z-index: 9999;
  -moz-transition: left 0.2s linear;
  -o-transition: left 0.2s linear;
  -webkit-transition: left 0.2s linear;
  transition: left 0.2s linear;
  display: flex;
  flex-direction: column; }
  header .menu_lateral .card {
    background-color: #1b8fbf; }
    header .menu_lateral .card .card-header {
      border-radius: none; }
      header .menu_lateral .card .card-header i {
        color: white; }
  header .menu_lateral .accordion_menu .card {
    background-color: #0c6a93;
    border: none; }
    header .menu_lateral .accordion_menu .card .card-header {
      background-color: #146b95;
      border: none;
      padding: 0px;
      border-bottom: 1px solid #0d5074; }
    header .menu_lateral .accordion_menu .card .card-body {
      display: flex;
      flex-direction: column;
      background-color: #0c6a93;
      padding: 0px;
      border-radius: 0px; }
      header .menu_lateral .accordion_menu .card .card-body ul {
        list-style: none;
        padding: 0px;
        margin: 0px; }
        header .menu_lateral .accordion_menu .card .card-body ul li {
          text-decoration: none;
          border-bottom: 1px solid #0d5074;
          padding: 10px 20px; }
          header .menu_lateral .accordion_menu .card .card-body ul li a {
            text-decoration: none;
            color: white;
            margin: 20px 10px;
            font-size: 12px; }
  header .menu_lateral .button_opcion {
    color: white;
    display: flex;
    padding: 10px 20px;
    background-color: #0c6a93;
    border-radius: 0px;
    font-size: 12px;
    width: 100%;
    border-bottom: 1px solid #0d5074;
    text-decoration: none; }
  header .menu_lateral .terms_redes {
    margin-top: 30px; }
    header .menu_lateral .terms_redes .terms {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      list-style: none;
      padding: 0px;
      margin: 0px; }
      header .menu_lateral .terms_redes .terms li {
        text-decoration: none;
        border-right: 1px solid white; }
        header .menu_lateral .terms_redes .terms li:nth-child(0n+2) {
          border-right: 0px; }
        header .menu_lateral .terms_redes .terms li:last-child {
          border-right: 0px; }
        header .menu_lateral .terms_redes .terms li a {
          color: white;
          font-size: 12px;
          padding: 0px 10px;
          font-weight: bold; }
    header .menu_lateral .terms_redes .redes {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      margin-top: 25px;
      padding: 0px 15px; }
      header .menu_lateral .terms_redes .redes li {
        text-decoration: none; }
        header .menu_lateral .terms_redes .redes li a i {
          color: white;
          font-size: 20px; }
  header .menu_lateral .logo_footer {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .menu_lateral .logo_footer a img {
      max-width: 85px; }

header .open {
  left: 0px; }

.content .box .category {
  padding: 0px; }
  .content .box .category ul {
    padding-left: 70px;
    margin-top: 15px;
    border-bottom: 1px solid #9fc0e1; }
    .content .box .category ul .nav-item {
      padding: 0px 2px 0px 0px; }
      .content .box .category ul .nav-item .nav-link {
        color: #6d89b8;
        font-weight: bold;
        background-color: #dde9f5;
        border: 1px solid #9fc0e1;
        text-transform: uppercase;
        font-size: 14px;
        padding: 5px 10px; }
      .content .box .category ul .nav-item .nav-link.active {
        background-color: white;
        border-bottom: 1px solid white;
        color: #f47523; }

.content .box .category_avan {
  padding: 0px;
  border-bottom: 1px solid #9fc0e1; }
  .content .box .category_avan a {
    font-size: 12px;
    text-decoration: none;
    padding-bottom: 5px;
    color: #6d89b8;
    font-weight: bold; }

.content .tabs_category {
  margin-left: 50px; }
  .content .tabs_category ul {
    list-style: none;
    margin: 10px 0px; }
    .content .tabs_category ul li {
      margin-right: 7px; }
      .content .tabs_category ul li a {
        text-decoration: none;
        font-size: 13px;
        color: #6d89b8; }
  .content .tabs_category a {
    text-decoration: none;
    font-size: 13px;
    color: #6d89b8;
    display: flex;
    align-items: center; }

.content .box_publi {
  background-color: #f47523;
  margin-top: 12px;
  border-radius: 5px;
  max-width: 175px; }
  .content .box_publi i {
    padding: 10px;
    color: white; }
  .content .box_publi p {
    text-transform: uppercase;
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 0px 40px 0px 0px;
    text-align: center; }
  .content .box_publi .img_banner {
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;
    min-height: 600px; }

@media screen and (max-width: 991px) {
  header .box_logo {
    width: 100%;
    justify-content: center;
    background-color: #0c6a93; }
    header .box_logo .img_logo {
      max-width: 100px; }
    header .box_logo .banner_top {
      display: none; }
  header .navbar,
  header .card_mjs {
    display: none; }
  header #menu_ppal {
    display: initial; }
  .content .box .category,
  .content .box .category_avan,
  .content .box .tabs_category,
  .content .box .box_publi {
    display: none !important; } }
