* {
  padding:0;
  margin:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

a:active,
a:link,
a:focus,
a:visited,
a:hover,
button:active,
button:link,
button:focus,
button:visited,
button:hover,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow:none !important;
  outline:0 !important;
}

.row {
  margin-right: 0px;
}

header {
  .box_logo {
    .img_logo {
      max-width: 175px;
      margin: 0px 30px;
    }
    .banner_top {
      max-width: 350px;
    }
  } 
  .card_mjs {
    margin-top: 15px;
    min-width: 270px;
    margin-right: 15px;
    border-color:#0c6a93;
    border-bottom-color: transparent;
    .card-header {
      background-color: #0c6a93;
      padding: 3px 10px;
      a {
        list-style: none;
        i {
          color: white;
        }
      }
    }
    .card-body { 
      padding: 5px;
      .box {
        h5 {
          font-size: 12px;
          line-height: 20px;
          font-weight: normal;
          margin: 0px 5px 0px 0px;
        }
        p {
          font-size: 12px;
          font-weight: normal;
          margin: 0px;
        }
        .dark {
          font-weight: bold;
        }
      }
      .box_ganar {
        position: absolute;
        right: 5px;
        bottom: 4px;
        a {
          font-size: 12px;
          text-decoration: none;
          color: #f47523;
          font-weight: bold;
        }
      }
    }
  }
  .navbar {
    background-color: #0c6a93;
    border-bottom: 4px solid #f47523;
    padding: 0px;
    max-height: 50px;
    .collapse {
      padding: 0px 0px 0px 40px;
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
          }
        }
      }
      .btn_checkin {
        background-color: #f47523;
        min-height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        padding: 0px 15px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: white;
        font-size: 20px;
      }
    }
  }
  #menu_ppal {
    display: none;
    position: absolute;
    top: 12px;
    left: 50px;
    i {
      color: white;
      font-size:25px;
    }
  }
  .menu_lateral {
    background-color: #1b8fbf;
    height:100vh;
    min-height:580px;
    margin:0;
    padding-left:right;
    position: absolute;
    left:-325px;
    top:0;
    width: 240px;
    z-index:9999;
    -moz-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    -webkit-transition: left 0.2s linear;
    transition: left 0.2s linear;
    display: flex;
    flex-direction: column;
    .card {
      background-color: #1b8fbf;
      .card-header {
        border-radius: none;
        i {
          color: white;
        }
      }
    }
    .accordion_menu {
      .card {
        background-color: #0c6a93;
        border: none;
        .card-header {
          background-color: #146b95;
          border: none;
          padding: 0px;
          border-bottom: 1px solid #0d5074;
        }
        .card-body {
          display: flex;
          flex-direction: column;
          background-color: #0c6a93;
          padding: 0px;
          border-radius: 0px;
          ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
            li {
              text-decoration: none;
              border-bottom: 1px solid #0d5074; 
              padding: 10px 20px;
              a {
                text-decoration: none;
                color: white;
                margin: 20px 10px;
                font-size: 12px;
               
              }
            }
          }
        }
      }
    }
    .button_opcion {
      color: white;
      display: flex;
      padding: 10px 20px;
      background-color: #0c6a93;
      border-radius: 0px;
      font-size: 12px;
      width: 100%;
      border-bottom: 1px solid #0d5074;
      text-decoration: none;
    }
    .terms_redes {
      margin-top: 30px;
      .terms {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
          text-decoration: none;
          border-right: 1px solid white;
          &:nth-child(0n+2) {
            border-right: 0px;
          }
          &:last-child  {
            border-right: 0px;
          }
          a {
            color: white;
            font-size: 12px;
            padding: 0px 10px;
            font-weight: bold;
          }
        }
      }
      .redes {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;
        padding: 0px 15px;
        li {
          text-decoration: none;
          a {
            i {
              color: white;font-size: 20px;
            }
          }
        }
      }
    }
    .logo_footer {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        img {
          max-width: 85px;
        }
      }
    }
  }
  .open {
    left: 0px;
  }
}

.content {
  .box {
    .category {
      padding: 0px;
      ul {
        padding-left: 70px;
        margin-top: 15px;
        border-bottom: 1px solid #9fc0e1;
        .nav-item {
          padding: 0px 2px 0px 0px;
          .nav-link {
            color: #6d89b8;
            font-weight: bold;
            background-color: #dde9f5;
            border: 1px solid #9fc0e1;
            text-transform: uppercase;
            font-size: 14px;
            padding: 5px 10px;
          }
          .nav-link.active {
            background-color: white;
            border-bottom: 1px solid white;
            color: #f47523;
          }
        }
      }
    }
    .category_avan {
      padding: 0px;
      border-bottom: 1px solid #9fc0e1;
      a {
        font-size: 12px;
        text-decoration: none;
        padding-bottom: 5px;
        color: #6d89b8;
        font-weight: bold;
      }
    }
  }
  .tabs_category {
    margin-left: 50px;
    ul {
      list-style: none;
      margin: 10px 0px;
      li {
        margin-right: 7px;
        a {
          text-decoration: none;
          font-size: 13px;
          color: #6d89b8;
        }
      }
    }
    a {
      text-decoration: none;
      font-size: 13px;
      color: #6d89b8;
      display: flex;
      align-items: center;
    }
  }
  .box_publi {
    background-color: #f47523;
    margin-top: 12px;
    border-radius: 5px;
    max-width: 175px;
    i {
      padding: 10px;
      color: white;
    }
    p {
      text-transform: uppercase;
      margin: 0px;
      font-size: 15px;
      font-weight: bold;
      color: white;
      padding: 0px 40px 0px 0px;
      text-align: center; 
    }
    .img_banner {
      width: 100%;
      background-repeat: no-repeat !important;
      background-position: center top !important;
      -webkit-background-size: contain !important;
      -moz-background-size: contain !important;
      -o-background-size: contain !important;
      background-size: contain !important;
      min-height: 600px;
    }
  }
  .cards {
    margin-left: 50px;
    .card {
      width: 18rem;
      margin-right: 5px;
      margin-bottom: 5px;
      &:last-child  {
        margin-right: 0px;
      }
      .start {
        position: absolute;
        z-index: 2;
        right: 5px;
        color: gray;
      }
      h4 {
        background-color: #146b95;
        color: white;
        position: absolute;
        z-index: 2;
        right: 5px;
        bottom: 99px;
        font-size: 12px;
        padding: 2px 5px;
      }
      .img_card {
        width: 100%;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        min-height: 140px;
        position: relative;
      }
      .card-body {
        padding: 10px;
        background-color: #f0f1f1;
        .card-title {
          padding-bottom: 5px;
          color: #0c6a93;
          border-bottom: 1px solid #bdbdbd;
          margin: 0px;
          span {
            color: #80737d;
          }
        }
        .card-text {
          font-size: 13px;
          margin: 0px;
          span {
            color: #146b95;
          }
        }
        .espectadores {
          color: #899195;
          font-size: 10px;
          margin: 0px;
        }
      }
    }
  }
}

@import "components/responsive"; 