@media screen and (max-width: 576px) {}

@media (max-width: 767px) {
}

@media screen and (min-width: 576px) and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 991px) {
  header {
    .box_logo {
      width: 100%;
      justify-content: center;
      background-color: #0c6a93;
      .img_logo {
        max-width: 100px;
      }
      .banner_top {
        display: none;
      }
    }
    .navbar,
    .card_mjs {
      display: none;
    }
    #menu_ppal {
      display: initial;
    }
  }
}
